.continent-wrapper {
  padding: 0 1rem;
}

.search {
  padding: 1rem 0;
}

.search-input {
  width: 100%;
  padding: 0.5rem 0 0.5rem 1rem;
  font-size: 1.2rem;
}

.continents-container {
  display: grid;
  gap: 0.6rem;
}

.continent-container {
  background-color: #ff9285;
  box-shadow: inset 3px 3px 5px rgba(94, 184, 121, 0.288);
  padding: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 1.3rem;
}

.continent-container:hover {
  box-shadow: -3px -3px 7px grey;
}

.continent-title {
  font-weight: bold;
  color: white;
}

.case-value {
  margin-left: 0.5rem;
}

.button {
  font-size: 1.2rem;
}

@media (min-width: 600px) {
  .continents-container {
    grid-template-columns: 50% 50%;
  }
}

@media (min-width: 1000px) {
  .continents-container {
    grid-template-columns: 33% 33% 33%;
  }
}
