.continent-wrapper {
  padding: 0 1rem;
}

.search {
  padding: 1rem 0;
}

.search-input {
  width: 100%;
  padding: 0.5rem 0 0.5rem 1rem;
  font-size: 1.2rem;
}

.continents-container {
  display: grid;
  grid-template-columns: 50% 50%;
  gap: 0.6rem;
}

.continent-container {
  background-color: #ff9285;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 1.3rem;
}

.continent-title {
  font-weight: bold;
  color: white;
}

.case-value {
  margin-left: 0.5rem;
}
